<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.quizcopa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.quizcopa.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.quizcopa.Ajuda"
            android:label="@string/title_activity_ajuda" >
        </activity>
        <activity
            android:name="com.android.quizcopa.Sobre"
            android:label="@string/title_activity_sobre" >
        </activity>
        <activity
            android:name="com.android.iniciar.Categoria"
            android:label="@string/title_activity_categoria" >
        </activity>
        <activity
            android:name="com.android.iniciar.Nivel"
            android:label="@string/title_activity_nivel" >
        </activity>
    </application>

</manifest>
